/* Medai for 1170px */

@media (max-width:1170px) {

    /* general css */
    .section-subtitle {
        max-width: 60%;
    }

}

/* Medai for 991px */
@media (max-width:991px) {

    /* general css */
    .about .banner_section,
    .product .banner_section,
    .gallery .banner_section,
    .contact .banner_section {
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }

    /* 01 Navbar Css */
    .header .navbar {
        background-size: cover;
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

    .navbar-brand img {
        height: 45px;
        width: 45px;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }


}

/* Medai for 767px */
@media (max-width:767px) {

    /* general css */
    body,
    html {
        font-size: 8px;
    }

    .section-subtitle {
        max-width: 80%;
    }

    /* 02 Banner Section */
    .banner_section {
        min-height: 70vh;
    }

    .banner_section .carousel-item {
        height: 70vh;
    }



}

/* Medai for 590px */
@media (max-width:590px) {

    /* general css */
    body,
    html {
        font-size: 7px;
    }

    h1 {
        font-size: 5rem;
        line-height: 1.5;
        font-weight: 600;
        color: var(--primary-text);
    }

    .navbar-brand img {
        height: 40px;
        width: 40px;
    }

    /* Banner section 02 */
    .banner_section {
        background-position: top;
        background-size: contain;
        min-height: 60vh;


    }

    .banner_section .carousel-item {
        height: 60vh;
    }

    .banner_section .carousel-caption {
        background: linear-gradient(to right, rgba(244, 242, 242, 0.927)60%, rgba(0, 0, 0, 0.05));

        top: 38%;
        text-align: left;
    }

    .banner_section .carousel-caption h3 {
        position: static;
        padding: 0.5rem;
        margin-right: 0rem;
        font-weight: 400;
        color: var(--secondary-text);

    }

    .banner_section .carousel-caption a {
        margin-top: 2rem;
    }






}